<div class="jumbotron">
        <!-- <h1 class="title">About Me</h1> -->
        <!-- <br/>         -->
        <!-- <p class="intro">Hello 👋</p> -->
        <p class="bio">Hi, I'm Frances. I'm a Master's student studying Computer Science at the <a class="hyperlink-1" href="https://www.ubc.ca/">University of British Columbia</a> and a member of the <a class="hyperlink-1" href="https://dfp.ubc.ca/">Designing for People</a> research cluster.
                <br/><br/>
                I care deeply about creating beautiful and easy-to-use interfaces that can simplify people's lives. For my Master's thesis I am working with Professor <a class="hyperlink-1" href="http://dwyoon.com/">Dongwook Yoon</a> to design technology for seniors that can help them thrive and live independently in their own homes.
         </p>
         

 </div>