<div class="jumbotron">
        <h1 class="title">About Me</h1>
        <br/>
        <p>I am a Master's student studying Computer Science at the University of British Columbia and a member of the <a class="hyperlink-1" href="https://dfp.ubc.ca/">Designing for People</a> intitative. I have a wide range of experiences, including UX research, healthcare research, and visual design. For my thesis, I am working with Professor <a class="hyperlink-1" href="http://dwyoon.com/">Dongwook Yoon</a> to design assistive technology for the elderly.</p>
     <br/>
        <h1 class="title">Education</h1>
        <br/>
     <p><b>MSc</b>, Computer Science, University of British Columbia (2019 - Present)</p>
     <p><b>BSc</b> (Graduated with Distinction), Computer Science, University of British Columbia (2014 - 2019)</p>
     <br/>
     <h1 class="title">What Else?</h1>
     <br/>
     <p>During my free time, I like to exercise my creative side. Reading, drawing, cooking, ...all that stuff! 

        
        
     </p>

 </div>