<div class="jumbotron" style="margin-left: 6%; margin-right: 6%;">
    <div id="intro">
       
        <h1>Design Guidelines for Augmented Reality Assembly Instruction</h1><br/><br/>
       
        <p>Augmented Reality (AR) "augments" our view of the real world by overlaying interactive digital elements on top of it. 
            Although mainstream media often presents AR as a futuristic technology, it's been around for many years. In fact, with the recent advances in smartphone devices, AR is infiltrating our everyday life through mobile games and other miscellaneous applications.
            <br/><br/><br/>
            <img class="project-image" src="assets/imgs/chikorita.jpg"  alt="..."></p>
            <div class="image-caption">Pokémon GO (Source: <a href="https://www.engadget.com/2019-11-06-pokemon-go-buddy-adventure.html">engadget</a>)</div>
            <br/><br/>
        
            
        <h4 class="subheading">AR for assembly?</h4>
        <p>
            Past research has repeatedly shown the promises of AR for assembly. 
            Unlike traditional instruction manuals, which are illustrated and printed on paper, AR instructions can be directly overlayed on the assembly materials in front of the user. 
            <br/><br/>
            Although the benefits of AR for assembly are clear, the AR/HCI literature lacks in a well-established set of <b>design guidelines</b> for this particular application domain. 
            Design guidelines are needed in an emerging domain like AR assembly to help guide important design decisions, such as choosing the modality of instruction (e.g. audio or visual). 
            To fill this gap, we developed 8 design guidelines for AR assembly instruction by triangulating findings from peer-reviewed literature, expert interviews, and online video analysis. 
            <br/><br/><br/>
            <img class="project-image" src="assets/imgs/assembly.png"  alt="..."></p>
            <div class="image-caption">An example of how AR could be used for furniture assembly</div>
            <br/><br/>
        <h4 class="subheading">Design guildines for AR assembly instructions</h4>
       <p>1. Demonstrate actions with dynamic animations<br/>
        2. Support hands-free interactions for situations where the user's hands are occupied<br/>
    3. Demonstrate hand maneuvers using virtual hands<br/>
4. Overlay virtual instructions directly on the assembly object, rather than off to the side<br/>
5. Use salient visuals to help users quickly detect and identify targets<br/>
6. Make sure that critical information (e.g. a safety hazard) is always known to the user<br/>
7. Use visuals to promote spatial understanding, rather than text or audio<br/>
8. Only use text when it suits the task</p>
<p>For more information about each guideline, check out our paper!</p>
    
           
    
    <h4 class="subheading">Collaborators</h4>
    <p>Janet Chen, UBC<br/>
    Dongwook Yoon, UBC<br/>
    Laura Herman, Adobe Research<br/>
    Cuong Nguyen, Adobe Research</p>
    <br/>
   
</div>

    
    </div>