<div class="jumbotron">
    <div class="container" id="intro">
       
        <h1 class="title ">Developing Design Guidelines for AR-Based Assembly Instructions</h1> <br/>
        <h4 class="subheading">Collaborators</h4>
        <p>Janet Chen<br/>
        Dongwook Yoon<br/>
        Laura Herman (Adobe Research)<br/>
        Cuong Nguyen (Adobe Research)</p>
        <h4 class="subheading">Summary</h4>
        <p>
            In the past, several studies have described the capabilities and benefits of AR in the field of assembly. 
            Unlike traditional assembly instructions, which are illustrated and printed in a paper manual, AR can provide instructions in an interactive manner by overlaying virtual content on top of the real world. 
            <br/><br/><br/>
            <img class="project-image" style="width:60%; height: auto;" src="assets/imgs/ar-example.jpg"  alt="...">
            <br/><br/>
            Although in-situ spatial guidance has been shown to be more effective than traditional 2D instruction manuals for physical assembly tasks, the literature is lacking in a well-established set of design guidelines (i.e., specific and actionable design suggestions that practitioners can adopt for real-world applications) for AR-based instructions. 
            The core methodological challenge in developing guidelines for a cutting-edge technology like AR is the scarcity of reliable information resources.
            To address this issue, we developed a mixed-methods pipeline. The process begins with identifying design patterns by analyzing easy-to-access, but perhaps noisy, datasets.  Then, it progressively transforms the patterns into
            guidelines by triangulating more reliable, but scarce, data points (e.g., peer-reviewed literature, expert input).
            <br/><br/><br/>
            <img class="project-image" style="width:100%; height: auto;" src="assets/imgs/pipeline.png"  alt="...">
            <br/><br/>
           
    </p>
    <p>This project yielded a successful submission to <a href="https://dis.acm.org/2020/">DIS 2020</a>. You can view the report here.</p>

 
</div>

    
    </div>