ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

a {
    cursor: pointer;
}

h2 {
    font-family: 'Inconsolata', monospace;  
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

* {
    border-radius: 0 !important;
  }

.external-link {
    font-size: 1em;
    font-family: 'Inconsolata', monospace;  
}

