<div class="jumbotron text-center">
    <div class="container" id="intro">
        <h1 class="title">All Projects</h1>
        <ul class="custom-nav" style="padding: 0;">
            <li><a class="link-nav" href="#">Research</a></li>
            <li></li>
            <li><a class="link-nav" href="#">Programming</a></li>
            <li></li>
            <li><a class="link-nav" href="#">Artwork</a></li>
        </ul>
    </div>
</div>

<div class="album py-5 px-0">
    <div class="container projects" id="projects">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <a routerLink='project1'>
                        <img src="../../assets/imgs/placeholder.png" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Developing Design Guidelines for AR-Based Assembly</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Coming soon...</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" >
                    <a (click)='initProject()'>
                        <img src="../../assets/imgs/shakespeer-card.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">ShakesPeer: Visualizing Character Relationships in Shakespearean Literature</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2019</h6>
                        <a href="#" class="card-link">GitHub</a>
                        <a href="#" class="card-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" >
                <img src="../../assets/imgs/436d.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">OpenGL C++ Tower Defense/Platformer Game</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2019</h6>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" >
                <img src="../../assets/imgs/speech.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Speech Shapes: Using Voice to Create 3D Geometries</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2019</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
