p {
    /* font-family: 'Roboto Mono',monospace;
    font-size: 110%; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

.profile-image {
    width:25%; 
    height: auto;
}

@media (max-width: 800px) {
    .profile-image {
        width:50%; 
        height: auto;
    }
}
